<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5" style="">
      <div class="card">
        <div class="card-body">
          <h1>Login</h1>
          <form  (submit)="onSubmitLogin()">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="email">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="pass">
            </div>
            <input type="submit" value="Logearse" class="btn btn-primary btn-block btn-lg">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 mx-auto mt-5" >
          <div class="card">
            <div class="card-body">
              <button class="btn btn-primary">Facebook</button>
              <button class="btn btn-secondary">Google</button>
              <button class="btn btn-light">Twitter</button>
              
            </div>
          </div>
        </div>
  </div>
</div>